In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('finance_dataset_uncleaned.csv')
df

,Account_ID,Customer_ID,Customer_Name,Gender,Age,Email,Phone,City,Country,Account_Type,...,Investment_Type,ROI,Investment_Value,Card_Type,Late_Fee,Penalty,Tax_Amount,Total_Amount,Payment_Mode,Remarks
0,A4612,C58348,michael Brown,F,66,john@example.com,917229886124,Delhi,India,Business,...,FD,3.298410,60691.240505,RuPay,4169.125440,8866.872272,3766.553765,1.486823e+06,Debet,NaN
1,A9831,C10810,Jane Smith,Female,29,john@example.com,916967078911,Delhi,UK,Loan,...,Bond,18.349516,118150.098177,Amex,4510.511100,6943.340905,2614.930657,1.030646e+06,UPI,Delayed
2,A2068,C64928,Ravi Kumar,Male,86,john@example.com,918271335078,mumbai,USA,Savngs,...,Mutual Fund,24.726065,869999.274082,MasterCard,2108.633978,6671.673964,629.393489,1.106348e+06,Debet,NaN
3,A6688,C58351,NaN,Male,75,ravi@gmail,916508434953,Bangalore,NaN,Business,...,NaN,17.486754,927620.831729,NaN,2946.673745,6295.658396,3766.553765,9.789876e+05,Debit,NaN
4,A7621,C52283,Fatima Noor,NaN,35,john@example.com,916069521432,Delhi,India,Loan,...,NaN,24.726065,2294.584032,RuPay,4232.020422,8485.974159,2686.775221,1.075623e+06,Debit,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A7381,C86162,Li Wei,Female,40,jane@,919178421110,NaN,india,Current,...,NaN,18.733944,239560.047656,Visa,60.174077,5780.779936,1549.786187,6.941484e+05,Credt,Good
9996,A3763,C52152,John Doe,Other,22,NaN,917319838052,mumbai,India,Savngs,...,NaN,15.608729,119499.656105,Amex,1851.721011,2466.684391,5960.392599,7.942947e+05,Online,Check required
9997,A2865,C34624,michael Brown,Female,87,fatima@gmail.com,917813775812,mumbai,USA,Savngs,...,Stock,4.179789,559925.153126,MasterCard,2946.673745,3681.028538,9099.823184,1.217929e+06,Debet,Good
9998,A5551,C82309,Jane Smith,F,18,john@example.com,919212850991,Delhi,india,Savngs,...,NaN,29.953169,240961.324328,Amex,2449.774117,136.750066,9549.925356,4.196692e+05,Cash,NaN
9999,A1775,C24877,Li Wei,F,35,NaN,918631841596,Chennai,India,Savings,...,FD,28.068109,190908.369473,RuPay,3161.275454,6083.491673,9549.925356,1.174574e+06,Debet,Delayed

In [3]:
df.duplicated(subset='Account_ID').value_counts()

False    6067
True     3933
Name: count, dtype: int64

In [4]:
df.drop_duplicates(subset='Account_ID',keep='last',inplace=True)
df['Account_ID'].duplicated().value_counts()

Account_ID
False    6067
Name: count, dtype: int64

In [5]:
df.drop_duplicates(subset='Transaction_ID',keep='last',inplace=True)
df['Transaction_ID'].duplicated().value_counts()

Transaction_ID
False    6045
Name: count, dtype: int64

In [6]:
df['City'].fillna('Unknown',inplace=True)
df['City'].value_counts()

City
Unknown      1046
Bangalore    1016
Delhi        1010
mumbai       1000
Chennai       999
Mumbai        974
Name: count, dtype: int64

In [7]:
df['Currency'].fillna('INR',inplace=True)
df['Currency'].value_counts()

Currency
EUR    1530
USD    1511
INR    1509
GBP    1495
Name: count, dtype: int64

In [8]:
df['Amount'].fillna(df['Amount'].median(),inplace=True)
df['Amount'].value_counts()

Amount
529691.562582    121
513682.020590     84
286938.188295     81
878127.385466     78
714181.731078     75
                ...
323963.163025     45
593746.412373     45
740338.999541     44
15097.000527      40
61636.879831      36
Name: count, Length: 102, dtype: int64

In [9]:
df['Email'].fillna('noemail@bank.com',inplace=True)
df['Email'].value_counts()

Email
fatima@gmail.com    1237
john@example.com    1219
ravi@gmail          1212
noemail@bank.com    1204
jane@               1173
Name: count, dtype: int64

In [10]:
df['Account_Status'].fillna('Active',inplace=True)
df['Account_Status'].value_counts()

Account_Status
Active      3006
Banned      1526
Inactive    1513
Name: count, dtype: int64

In [11]:
df['Gender'].fillna('Unknown',inplace=True)
df['Gender'].value_counts()

Gender
Male       1045
Unknown    1026
Other      1017
Mle        1013
F           975
Female      969
Name: count, dtype: int64

In [12]:
df['Investment_Type'].fillna('Others',inplace=True)
df['Investment_Type'].value_counts()

Investment_Type
Stock          1242
FD             1220
Bond           1218
Others         1188
Mutual Fund    1177
Name: count, dtype: int64

In [13]:
df['Tax_Amount'].fillna(0,inplace=True)
df['Tax_Amount'].value_counts()

Tax_Amount
3766.553765    81
4736.501707    77
674.258284     77
718.037913     76
9735.806114    74
               ..
6257.086252    47
4371.578465    45
682.977370     44
4295.786825    42
3670.039459    42
Name: count, Length: 101, dtype: int64

In [14]:
df.drop(df[df['Amount']<=0].index,inplace=True)
df['Amount'].value_counts()

Amount
529691.562582    121
513682.020590     84
286938.188295     81
878127.385466     78
714181.731078     75
                ...
323963.163025     45
593746.412373     45
740338.999541     44
15097.000527      40
61636.879831      36
Name: count, Length: 100, dtype: int64

In [15]:
df.drop(df[(df['Age'] < 18) | (df['Age'] > 100)].index, inplace=True)
df['Age'].value_counts()

Age
31    101
40     99
73     95
33     95
68     95
     ...
64     66
60     64
21     62
48     58
19     53
Name: count, Length: 72, dtype: int64

In [16]:
df.drop(df[(df['ROI'] < 0) | (df['ROI'] > 100)].index, inplace=True)
df['ROI'].value_counts()

ROI
28.068109    81
18.349516    79
18.733944    79
10.749210    76
18.527058    73
             ..
4.341342     43
18.220024    43
27.062135    39
29.953169    38
18.149338    38
Name: count, Length: 100, dtype: int64

In [17]:
df.drop(df[df['Loan_Amount']>10_00_00_000].index,inplace=True)
df['Loan_Amount'].value_counts()

Loan_Amount
3.939049e+05    72
3.023285e+05    72
1.519591e+06    72
4.343876e+06    71
9.090890e+06    71
                ..
7.820584e+06    44
2.816565e+06    42
6.521227e+06    42
5.650069e+06    41
5.269982e+06    36
Name: count, Length: 100, dtype: int64

In [18]:
df['Transaction_Date']=pd.to_datetime(df['Transaction_Date'])
df=df[df['Transaction_Date']<=pd.Timestamp.today()]
df['Transaction_Date']

0      2021-05-17
5      2024-08-26
13     2024-02-01
16     2020-05-31
17     2023-08-13
          ...
9995   2020-12-31
9996   2020-09-19
9997   2025-08-09
9998   2024-06-26
9999   2022-07-05
Name: Transaction_Date, Length: 5693, dtype: datetime64[ns]

In [19]:
df['Payment_Mode'].replace({"Credt":"Credit","Debet":"Debit"},inplace=True)
df['Payment_Mode'].value_counts()

Payment_Mode
Debit     1692
Credit    1560
UPI        823
Cash       820
Online     798
Name: count, dtype: int64

In [20]:
df['Account_Type'].replace({"Savngs":"Savings"},inplace=True)
df['Account_Type'].value_counts()

Account_Type
Savings     2262
Business    1167
Loan        1163
Current     1101
Name: count, dtype: int64

In [21]:
df['Gender'].value_counts()

Gender
Male       994
Unknown    966
Mle        953
Other      946
F          917
Female     917
Name: count, dtype: int64

In [22]:
df['Gender'].replace({'Mle':'Male','F':'Female'},inplace=True)
df['Gender'].value_counts()

Gender
Male       1947
Female     1834
Unknown     966
Other       946
Name: count, dtype: int64

In [23]:
df['Currency'].value_counts()

Currency
EUR    1435
INR    1430
GBP    1423
USD    1405
Name: count, dtype: int64

In [24]:
df.loc[(df['Transaction_Type']=='Deposit')&(df['Amount']>100000)]

,Account_ID,Customer_ID,Customer_Name,Gender,Age,Email,Phone,City,Country,Account_Type,...,Investment_Type,ROI,Investment_Value,Card_Type,Late_Fee,Penalty,Tax_Amount,Total_Amount,Payment_Mode,Remarks
13,A4023,C50967,John Doe,Male,52,noemail@bank.com,917056520263,Chennai,NaN,Savings,...,Bond,23.986358,844920.426365,MasterCard,4709.845929,8531.286754,5902.814081,1.486823e+06,Debit,Check required
16,A2552,C64242,michael Brown,Male,74,ravi@gmail,918090995963,Bangalore,india,Loan,...,Stock,2.430223,190908.369473,RuPay,989.364840,4938.353159,5092.144389,6.941484e+05,UPI,NaN
20,A8174,C97234,Li Wei,Male,36,jane@,917352471279,Mumbai,india,Loan,...,Bond,26.242824,374134.122098,MasterCard,1022.118953,6411.281203,6108.837591,6.590247e+05,Credit,Delayed
35,A5584,C72964,Ravi Kumar,Female,21,john@example.com,918256361559,Bangalore,UK,Business,...,Stock,23.099571,895656.733728,NaN,3069.385100,2202.010979,1918.340040,5.562252e+05,UPI,Good
40,A7432,C96184,Ravi Kumar,Unknown,18,fatima@gmail.com,917332724710,Chennai,NaN,Business,...,Others,26.368917,738048.103464,MasterCard,124.662673,7244.675184,8302.352861,1.316942e+06,Debit,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9959,A2948,C15080,John Doe,Male,48,ravi@gmail,916346806683,Mumbai,india,Business,...,Others,26.797526,118150.098177,Visa,3703.761985,3041.760770,8708.791376,7.942947e+05,Debit,NaN
9960,A2872,C71514,John Doe,Male,82,ravi@gmail,917257702031,Unknown,india,Savings,...,Others,23.243720,635212.886455,NaN,3085.635220,3681.028538,3581.075551,1.075623e+06,Debit,Good
9990,A1136,C81473,Ravi Kumar,Other,65,john@example.com,917342331613,mumbai,USA,Current,...,Others,6.059270,366099.879606,RuPay,3591.528106,8866.872272,3855.075418,1.093146e+05,Debit,NaN
9995,A7381,C86162,Li Wei,Female,40,jane@,919178421110,Unknown,india,Current,...,Others,18.733944,239560.047656,Visa,60.174077,5780.779936,1549.786187,6.941484e+05,Credit,Good
9999,A1775,C24877,Li Wei,Female,35,noemail@bank.com,918631841596,Chennai,India,Savings,...,FD,28.068109,190908.369473,RuPay,3161.275454,6083.491673,9549.925356,1.174574e+06,Debit,Delayed

In [25]:
df.loc[df['Loan_Amount']>=500000, ['Customer_Name','Loan_Amount']].value_counts()

Customer_Name  Loan_Amount
Fatima Noor    3.265096e+06    17
Ravi Kumar     6.294306e+06    16
               6.523024e+06    16
Jane Smith     8.625551e+06    16
Fatima Noor    7.635757e+06    16
                               ..
John Doe       5.722675e+06     3
Fatima Noor    3.448277e+06     3
John Doe       5.892936e+06     2
Fatima Noor    1.155976e+06     2
Jane Smith     7.820584e+06     1
Name: count, Length: 570, dtype: int64

In [26]:
df.loc[df['ROI']>0.1,['Customer_Name','ROI']].value_counts()

Customer_Name  ROI
Fatima Noor    28.068109    21
Ravi Kumar     6.059270     18
Fatima Noor    27.737887    17
Ravi Kumar     28.003990    17
               2.477793     17
                            ..
               4.341342      1
Li Wei         3.160700      1
Ravi Kumar     3.446746      1
John Doe       3.446746      1
michael Brown  4.341342      1
Name: count, Length: 599, dtype: int64

In [27]:
df.loc[df['Payment_Mode']=="Credit",['Transaction_ID','Payment_Mode']].value_counts()

Transaction_ID  Payment_Mode
T100088         Credit          1
T100719         Credit          1
T101289         Credit          1
T101390         Credit          1
T101433         Credit          1
                               ..
T997410         Credit          1
T997981         Credit          1
T998361         Credit          1
T998477         Credit          1
T998710         Credit          1
Name: count, Length: 1560, dtype: int64

In [28]:
df.loc[df['Account_Status']=='Inactive',['Customer_Name','Account_Status']].value_counts()

Customer_Name  Account_Status
michael Brown  Inactive          220
Jane Smith     Inactive          213
Ravi Kumar     Inactive          208
Fatima Noor    Inactive          199
Li Wei         Inactive          196
John Doe       Inactive          192
Name: count, dtype: int64

In [29]:
df.loc[df['Total_Amount']>100000,['Transaction_ID','Total_Amount']].value_counts()

Transaction_ID  Total_Amount
T100088         1.217929e+06    1
T100303         2.332263e+05    1
T100361         1.351449e+06    1
T100437         7.034638e+05    1
T100441         1.076492e+06    1
                               ..
T998789         1.217929e+06    1
T999140         1.305745e+06    1
T999238         1.264023e+06    1
T999645         5.502543e+05    1
T999744         1.108319e+06    1
Name: count, Length: 5350, dtype: int64

In [30]:
df.loc[df['Currency']!='INR', ['Currency']].value_counts()

Currency
EUR         1435
GBP         1423
USD         1405
Name: count, dtype: int64

In [31]:
df.groupby('Customer_Name')['Loan_Amount'].nlargest(10)

Customer_Name
Fatima Noor    1739    9.586153e+06
               3412    9.586153e+06
               5526    9.586153e+06
               5577    9.586153e+06
               8317    9.586153e+06
               8473    9.586153e+06
               9557    9.586153e+06
               1524    9.522217e+06
               3131    9.522217e+06
               3506    9.522217e+06
Jane Smith     1840    9.586153e+06
               6567    9.586153e+06
               6856    9.586153e+06
               5753    9.522217e+06
               6928    9.522217e+06
               7008    9.522217e+06
               9288    9.522217e+06
               9301    9.522217e+06
               977     9.428627e+06
               2144    9.428627e+06
John Doe       984     9.586153e+06
               1748    9.586153e+06
               2650    9.586153e+06
               4437    9.586153e+06
               6026    9.586153e+06
               6358    9.586153e+06
               7543    9.586153e+06
               7964    9.586153e+06
               9529    9.586153e+06
               9624    9.586153e+06
Li Wei         842     9.586153e+06
               3558    9.586153e+06
               3680    9.586153e+06
               4358    9.586153e+06
               4812    9.586153e+06
               6932    9.586153e+06
               7149    9.586153e+06
               7767    9.586153e+06
               8070    9.586153e+06
               8332    9.586153e+06
Ravi Kumar     3936    9.586153e+06
               3962    9.586153e+06
               4811    9.586153e+06
               5354    9.586153e+06
               5579    9.586153e+06
               6436    9.586153e+06
               8169    9.586153e+06
               1259    9.522217e+06
               2727    9.522217e+06
               4306    9.522217e+06
michael Brown  3349    9.586153e+06
               3583    9.586153e+06
               3747    9.586153e+06
               6397    9.586153e+06
               7697    9.586153e+06
               8498    9.586153e+06
               9140    9.586153e+06
               9189    9.586153e+06
               9826    9.586153e+06
               9848    9.586153e+06
Name: Loan_Amount, dtype: float64

In [32]:
df.loc[df['Transaction_Date'].dt.year == 2024,['Transaction_ID','Transaction_Date']]

     Transaction_ID Transaction_Date
5           T713814       2024-08-26
13          T532996       2024-02-01
24          T433456       2024-10-21
34          T788425       2024-12-27
35          T356409       2024-06-01
...             ...              ...
9980        T576111       2024-05-24
9982        T464545       2024-12-29
9988        T332030       2024-06-19
9991        T252508       2024-05-24
9998        T796924       2024-06-26

[934 rows x 2 columns]

In [33]:
df['Net_Amount']=df['Amount']-df['Tax_Amount']-df['Penalty']
df['Net_Amount']

0       849715.256912
5       584610.574287
13      309529.062191
16      704151.233529
17      978232.525421
            ...
9995    214274.433064
9996    379398.475107
9997    274157.336574
9998    503439.235224
9999    845443.413157
Name: Net_Amount, Length: 5693, dtype: float64

In [34]:
df['Interest_Earned']=df['Loan_Amount']*(df['Interest_Rate']/100)
df['Interest_Earned']

0       3.303126e+05
5       1.462055e+06
13      2.131804e+06
16      7.631612e+05
17      4.375019e+04
            ...
9995    5.420837e+05
9996    2.658961e+05
9997    4.760072e+05
9998    4.424556e+05
9999    8.092467e+05
Name: Interest_Earned, Length: 5693, dtype: float64

In [35]:
df['Loan_Tenure_Months']=df['Tenure_Years']*12
df['Loan_Tenure_Months']

0       264.0
5       348.0
13      228.0
16       60.0
17       48.0
        ...
9995    240.0
9996    264.0
9997    168.0
9998    156.0
9999    120.0
Name: Loan_Tenure_Months, Length: 5693, dtype: float64

In [36]:
df['Total_Charges']=df['Tax_Amount']+df['Late_Fee']+df['Penalty']
df['Total_Charges']

0       16802.551476
5       13367.858508
13      19143.946763
16      11019.862388
17      18402.447789
            ...
9995     7390.740200
9996    10278.798001
9997    15727.525467
9998    12136.449540
9999    18794.692484
Name: Total_Charges, Length: 5693, dtype: float64

In [37]:
df['Profit']=df['ROI']*df['Investment_Value']/100
df['Profit']

0         2001.846190
5        67474.616531
13      202665.640301
16        4639.498845
17       23884.155413
            ...
9995     44879.046011
9996     18652.376958
9997     23403.691288
9998     72175.553518
9999     53584.368847
Name: Profit, Length: 5693, dtype: float64

In [38]:
import random
age_group=['18-25','26-35','36-45','46-60','60+']
df['Customer_Age_Group']=np.random.choice(age_group,size=len(df))
df['Customer_Age_Group']

0       26-35
5       18-25
13      18-25
16      46-60
17      18-25
        ...
9995    46-60
9996      60+
9997    18-25
9998      60+
9999    26-35
Name: Customer_Age_Group, Length: 5693, dtype: object

In [39]:
df['High_Value_Transactions']=df['Total_Amount']>100000
df['High_Value_Transactions']

0       True
5       True
13      True
16      True
17      True
        ...
9995    True
9996    True
9997    True
9998    True
9999    True
Name: High_Value_Transactions, Length: 5693, dtype: bool

In [40]:
df['Country'].value_counts()

Country
USA      1186
UK       1163
india    1160
India    1091
Name: count, dtype: int64

In [41]:
df['Country'].replace({'UK':'United Kingdom','USA':'United Sates','india':'India'},inplace=True)
df['Country'].value_counts()

Country
India             2251
United Sates      1186
United Kingdom    1163
Name: count, dtype: int64

In [42]:
df['Account_Status'].value_counts()

Account_Status
Active      2826
Inactive    1438
Banned      1429
Name: count, dtype: int64

In [43]:
df['Account_Status'].replace({'Banned':0,'Active':1,'Inactive':-1},inplace=True)
df['Account_Status'].value_counts()

Account_Status
 1    2826
-1    1438
 0    1429
Name: count, dtype: int64

In [44]:
df['Payment_Mode'].value_counts()

Payment_Mode
Debit     1692
Credit    1560
UPI        823
Cash       820
Online     798
Name: count, dtype: int64

In [45]:
df['Payment_Mode'].replace({'Credit':1,'Debit':0,'Cash':2,'UPI':3,'Online':4},inplace=True)
df['Payment_Mode'].value_counts()

Payment_Mode
0    1692
1    1560
3     823
2     820
4     798
Name: count, dtype: int64

In [46]:
df.groupby('Customer_Name')['Amount'].nlargest(10)

Customer_Name
Fatima Noor    2207    996013.182104
               2833    996013.182104
               3104    996013.182104
               4273    996013.182104
               5783    996013.182104
               5941    996013.182104
               6668    996013.182104
               6985    996013.182104
               7596    996013.182104
               8216    996013.182104
Jane Smith     659     996013.182104
               740     996013.182104
               2252    996013.182104
               3566    996013.182104
               3742    996013.182104
               5917    996013.182104
               6175    996013.182104
               6971    996013.182104
               8623    996013.182104
               8757    996013.182104
John Doe       594     996013.182104
               1709    996013.182104
               1872    996013.182104
               3590    996013.182104
               4085    996013.182104
               4680    996013.182104
               6387    996013.182104
               8249    996013.182104
               8527    996013.182104
               9582    996013.182104
Li Wei         730     996013.182104
               2846    996013.182104
               3782    996013.182104
               4046    996013.182104
               5375    996013.182104
               6463    996013.182104
               5926    993164.422560
               8495    993164.422560
               8778    993164.422560
               9651    993164.422560
Ravi Kumar     5859    996013.182104
               5971    996013.182104
               6391    996013.182104
               6758    996013.182104
               8094    996013.182104
               8259    996013.182104
               9412    996013.182104
               6063    993164.422560
               6828    993164.422560
               8100    993164.422560
michael Brown  2918    996013.182104
               5486    996013.182104
               5626    996013.182104
               7618    996013.182104
               8965    996013.182104
               1584    993164.422560
               3971    993164.422560
               5570    993164.422560
               7423    993164.422560
               8091    993164.422560
Name: Amount, dtype: float64

In [47]:
df.groupby('Customer_Name')['Loan_Amount'].max()

Customer_Name
Fatima Noor      9.586153e+06
Jane Smith       9.586153e+06
John Doe         9.586153e+06
Li Wei           9.586153e+06
Ravi Kumar       9.586153e+06
michael Brown    9.586153e+06
Name: Loan_Amount, dtype: float64

In [48]:
df.groupby('Investment_Type')['ROI'].mean()

Investment_Type
Bond           16.638629
FD             16.099024
Mutual Fund    16.463681
Others         16.972802
Stock          16.481152
Name: ROI, dtype: float64

In [49]:
df.loc[df['Transaction_Type']=='Deposit', 'Branch_Name'].mode()

0    Suburban
Name: Branch_Name, dtype: object

In [50]:
df['Payment_Mode'].mode()

0    0
Name: Payment_Mode, dtype: int64

In [51]:
df.groupby('Customer_Name')['Penalty'].max()

Customer_Name
Fatima Noor      9820.885702
Jane Smith       9820.885702
John Doe         9820.885702
Li Wei           9820.885702
Ravi Kumar       9820.885702
michael Brown    9820.885702
Name: Penalty, dtype: float64

In [52]:
Region=['Asia','Europe','North America','South America','Africa']
df['Region']=np.random.choice(Region,size=len(df))
df['Region']

0                Asia
5       North America
13      North America
16      North America
17      North America
            ...
9995    South America
9996    South America
9997           Europe
9998           Africa
9999           Europe
Name: Region, Length: 5693, dtype: object

In [53]:
df.groupby('Region')['Investment_Value'].max()

Region
Africa           991987.844462
Asia             991987.844462
Europe           991987.844462
North America    991987.844462
South America    991987.844462
Name: Investment_Value, dtype: float64

In [54]:
df.groupby('City')['Investment_Value'].max()

City
Bangalore    991987.844462
Chennai      991987.844462
Delhi        991987.844462
Mumbai       991987.844462
Unknown      991987.844462
mumbai       991987.844462
Name: Investment_Value, dtype: float64

In [55]:
df.groupby('Account_Type')['Age'].mean()

Account_Type
Business    53.264781
Current     53.460490
Loan        53.222700
Savings     54.434129
Name: Age, dtype: float64

In [56]:
df.groupby('Country')['Tax_Amount'].sum()

Country
India             1.087177e+07
United Kingdom    5.637804e+06
United Sates      5.883538e+06
Name: Tax_Amount, dtype: float64

In [57]:
df.apply(lambda col:col.str.strip() if col.dtype=='object' else col)

,Account_ID,Customer_ID,Customer_Name,Gender,Age,Email,Phone,City,Country,Account_Type,...,Payment_Mode,Remarks,Net_Amount,Interest_Earned,Loan_Tenure_Months,Total_Charges,Profit,Customer_Age_Group,High_Value_Transactions,Region
0,A4612,C58348,michael Brown,Female,66,john@example.com,917229886124,Delhi,India,Business,...,0,NaN,849715.256912,3.303126e+05,264.0,16802.551476,2001.846190,26-35,True,Asia
5,A4340,C77472,John Doe,Male,89,noemail@bank.com,917840134170,Delhi,United Kingdom,Current,...,1,Check required,584610.574287,1.462055e+06,348.0,13367.858508,67474.616531,18-25,True,North America
13,A4023,C50967,John Doe,Male,52,noemail@bank.com,917056520263,Chennai,NaN,Savings,...,0,Check required,309529.062191,2.131804e+06,228.0,19143.946763,202665.640301,18-25,True,North America
16,A2552,C64242,michael Brown,Male,74,ravi@gmail,918090995963,Bangalore,India,Loan,...,3,NaN,704151.233529,7.631612e+05,60.0,11019.862388,4639.498845,46-60,True,North America
17,A1741,C74030,NaN,Other,35,noemail@bank.com,918392113849,Bangalore,United Kingdom,Loan,...,0,NaN,978232.525421,4.375019e+04,48.0,18402.447789,23884.155413,18-25,True,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A7381,C86162,Li Wei,Female,40,jane@,919178421110,Unknown,India,Current,...,1,Good,214274.433064,5.420837e+05,240.0,7390.740200,44879.046011,46-60,True,South America
9996,A3763,C52152,John Doe,Other,22,noemail@bank.com,917319838052,mumbai,India,Savings,...,4,Check required,379398.475107,2.658961e+05,264.0,10278.798001,18652.376958,60+,True,South America
9997,A2865,C34624,michael Brown,Female,87,fatima@gmail.com,917813775812,mumbai,United Sates,Savings,...,0,Good,274157.336574,4.760072e+05,168.0,15727.525467,23403.691288,18-25,True,Europe
9998,A5551,C82309,Jane Smith,Female,18,john@example.com,919212850991,Delhi,India,Savings,...,2,NaN,503439.235224,4.424556e+05,156.0,12136.449540,72175.553518,60+,True,Africa
9999,A1775,C24877,Li Wei,Female,35,noemail@bank.com,918631841596,Chennai,India,Savings,...,0,Delayed,845443.413157,8.092467e+05,120.0,18794.692484,53584.368847,26-35,True,Europe

In [58]:
df['Transaction_Date']=pd.to_datetime(df['Transaction_Date'],errors='coerce').dt.strftime('%Y-%m-%d')
df['Transaction_Date']

0       2021-05-17
5       2024-08-26
13      2024-02-01
16      2020-05-31
17      2023-08-13
           ...
9995    2020-12-31
9996    2020-09-19
9997    2025-08-09
9998    2024-06-26
9999    2022-07-05
Name: Transaction_Date, Length: 5693, dtype: object

In [59]:
df['Currency'].replace(['USD','EUR','GBP'],'INR',inplace=True)
df['Currency'].value_counts()

Currency
INR    5693
Name: count, dtype: int64

In [60]:
df.apply(lambda col:col.str.title() if col.dtype=='object' else col)

,Account_ID,Customer_ID,Customer_Name,Gender,Age,Email,Phone,City,Country,Account_Type,...,Payment_Mode,Remarks,Net_Amount,Interest_Earned,Loan_Tenure_Months,Total_Charges,Profit,Customer_Age_Group,High_Value_Transactions,Region
0,A4612,C58348,Michael Brown,Female,66,John@Example.Com,917229886124,Delhi,India,Business,...,0,NaN,849715.256912,3.303126e+05,264.0,16802.551476,2001.846190,26-35,True,Asia
5,A4340,C77472,John Doe,Male,89,Noemail@Bank.Com,917840134170,Delhi,United Kingdom,Current,...,1,Check Required,584610.574287,1.462055e+06,348.0,13367.858508,67474.616531,18-25,True,North America
13,A4023,C50967,John Doe,Male,52,Noemail@Bank.Com,917056520263,Chennai,NaN,Savings,...,0,Check Required,309529.062191,2.131804e+06,228.0,19143.946763,202665.640301,18-25,True,North America
16,A2552,C64242,Michael Brown,Male,74,Ravi@Gmail,918090995963,Bangalore,India,Loan,...,3,NaN,704151.233529,7.631612e+05,60.0,11019.862388,4639.498845,46-60,True,North America
17,A1741,C74030,NaN,Other,35,Noemail@Bank.Com,918392113849,Bangalore,United Kingdom,Loan,...,0,NaN,978232.525421,4.375019e+04,48.0,18402.447789,23884.155413,18-25,True,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A7381,C86162,Li Wei,Female,40,Jane@,919178421110,Unknown,India,Current,...,1,Good,214274.433064,5.420837e+05,240.0,7390.740200,44879.046011,46-60,True,South America
9996,A3763,C52152,John Doe,Other,22,Noemail@Bank.Com,917319838052,Mumbai,India,Savings,...,4,Check Required,379398.475107,2.658961e+05,264.0,10278.798001,18652.376958,60+,True,South America
9997,A2865,C34624,Michael Brown,Female,87,Fatima@Gmail.Com,917813775812,Mumbai,United Sates,Savings,...,0,Good,274157.336574,4.760072e+05,168.0,15727.525467,23403.691288,18-25,True,Europe
9998,A5551,C82309,Jane Smith,Female,18,John@Example.Com,919212850991,Delhi,India,Savings,...,2,NaN,503439.235224,4.424556e+05,156.0,12136.449540,72175.553518,60+,True,Africa
9999,A1775,C24877,Li Wei,Female,35,Noemail@Bank.Com,918631841596,Chennai,India,Savings,...,0,Delayed,845443.413157,8.092467e+05,120.0,18794.692484,53584.368847,26-35,True,Europe

In [61]:
df['Branch_Name'].replace({'Suburban':'Sub Urban','Downtown':'Down Town'},inplace=True)
df['Branch_Name'].value_counts()

Branch_Name
City Center    1181
Sub Urban      1136
Main           1120
Down Town      1108
Name: count, dtype: int64

In [62]:
validate=df['Amount']+df['Tax_Amount']+df['Penalty']
df['Amount']==validate.index

0       False
5       False
13      False
16      False
17      False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 5693, dtype: bool

In [63]:
df['Customer_ID']

0       C58348
5       C77472
13      C50967
16      C64242
17      C74030
         ...
9995    C86162
9996    C52152
9997    C34624
9998    C82309
9999    C24877
Name: Customer_ID, Length: 5693, dtype: object

In [64]:
x=df[(df['Tax_Amount'] > 0) & (df['Total_Amount'].isna() | (df['Total_Amount'] == 0))]
x

,Account_ID,Customer_ID,Customer_Name,Gender,Age,Email,Phone,City,Country,Account_Type,...,Payment_Mode,Remarks,Net_Amount,Interest_Earned,Loan_Tenure_Months,Total_Charges,Profit,Customer_Age_Group,High_Value_Transactions,Region
77,A3848,C56948,NaN,Female,43,noemail@bank.com,918671292710,Bangalore,NaN,Savings,...,3,NaN,638796.691158,1.774462e+05,336.0,11651.708053,94797.141463,26-35,False,Asia
119,A7126,C46169,Li Wei,Female,18,fatima@gmail.com,917146447359,Delhi,United Kingdom,Business,...,1,NaN,400114.900785,1.930244e+05,48.0,12906.562727,186414.154528,46-60,False,Asia
1028,A9973,C15565,Li Wei,Male,18,ravi@gmail,916894869683,mumbai,United Kingdom,Loan,...,0,Good,900355.606772,2.469454e+05,48.0,7162.185516,140125.172528,26-35,False,North America
1234,A2293,C39718,Li Wei,Female,56,john@example.com,917376593745,mumbai,United Sates,Business,...,1,Check required,274904.152444,1.018498e+06,300.0,15359.818471,52159.507268,18-25,False,Asia
1298,A2169,C29229,Fatima Noor,Female,19,john@example.com,919719410005,mumbai,United Sates,Loan,...,0,Good,394047.997559,1.726245e+06,144.0,14640.328878,124682.156404,26-35,False,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9711,A7389,C80735,Ravi Kumar,Male,68,fatima@gmail.com,919199739190,Mumbai,NaN,Savings,...,0,NaN,394729.555666,6.023489e+05,168.0,11811.714487,188479.161480,18-25,False,South America
9752,A6117,C82250,Li Wei,Male,58,fatima@gmail.com,918015562824,Unknown,NaN,Current,...,3,NaN,15109.145404,4.911508e+05,144.0,7624.714958,124017.200476,60+,False,North America
9787,A6793,C90628,Jane Smith,Male,31,jane@,916557853716,Unknown,United Kingdom,Business,...,1,Delayed,645909.688703,3.933071e+05,348.0,10548.330931,93325.155169,60+,False,Europe
9901,A1547,C21913,Ravi Kumar,Male,59,jane@,919142646860,Delhi,United Kingdom,Savings,...,0,NaN,454571.220744,7.262605e+05,252.0,12651.130209,123530.746961,18-25,False,North America
9919,A7251,C94030,Jane Smith,Male,71,ravi@gmail,918491814829,mumbai,India,Current,...,1,NaN,NaN,2.643272e+04,264.0,NaN,6350.320926,46-60,False,Asia

In [65]:
df.isnull().sum()

Account_ID                    0
Customer_ID                   0
Customer_Name               812
Gender                        0
Age                           0
Email                         0
Phone                         0
City                          0
Country                    1093
Account_Type                  0
Account_Status                0
Transaction_ID                0
Transaction_Date              0
Transaction_Type              0
Amount                        0
Currency                      0
Description                 980
Branch_Name                1148
Manager_Name               1157
Loan_ID                    4034
Loan_Amount                  54
Interest_Rate                51
Tenure_Years                190
Investment_Type               0
ROI                          59
Investment_Value             55
Card_Type                  1167
Late_Fee                     48
Penalty                      59
Tax_Amount                    0
Total_Amount                 64
Payment_Mode                  0
Remarks                    2272
Net_Amount                   59
Interest_Earned             104
Loan_Tenure_Months          190
Total_Charges               107
Profit                      113
Customer_Age_Group            0
High_Value_Transactions       0
Region                        0
dtype: int64

In [66]:
df['Customer_Name'].fillna('Unknown',inplace=True)
df['Customer_Name'].value_counts()

Customer_Name
Ravi Kumar       859
Jane Smith       848
Fatima Noor      840
Unknown          812
michael Brown    787
John Doe         778
Li Wei           769
Name: count, dtype: int64

In [67]:
df['Gender'].fillna('Others',inplace=True)
df['Gender'].value_counts()

Gender
Male       1947
Female     1834
Unknown     966
Other       946
Name: count, dtype: int64

In [68]:
df['Country'].fillna(method='ffill',inplace=True)
df['Country'].value_counts()

Country
India             2756
United Sates      1489
United Kingdom    1448
Name: count, dtype: int64

In [69]:
df['Description']

0         Loan EMI
5         Loan EMI
13        Transfer
16        Transfer
17        Loan EMI
           ...
9995      Transfer
9996    Investment
9997      Loan EMI
9998      Loan EMI
9999      Transfer
Name: Description, Length: 5693, dtype: object

In [70]:
df['Description'].fillna('No Description',inplace=True)
df['Description'].value_counts()

Description
Loan EMI          984
No Description    980
Transfer          962
Investment        941
Bill Payment      919
Salary            907
Name: count, dtype: int64

In [71]:
df['Branch_Name'].fillna(method='bfill',inplace=True)
df['Branch_Name'].value_counts()

Branch_Name
City Center    1463
Sub Urban      1459
Main           1387
Down Town      1384
Name: count, dtype: int64

In [72]:
df['Manager_Name'].fillna(method='ffill',inplace=True)
df['Manager_Name'].value_counts()

Manager_Name
Mr. Lee       1449
Ms. Sharma    1434
Mrs. Patel    1415
Mr. Rao       1395
Name: count, dtype: int64

In [73]:
df['Loan_ID'].fillna(method='ffill',inplace=True)
df['Loan_ID'].value_counts()

Loan_ID
L9220    25
L6551    20
L6169    20
L5630    20
L6713    19
         ..
L1560     1
L7448     1
L2639     1
L9359     1
L9492     1
Name: count, Length: 1496, dtype: int64

In [74]:
df['Loan_Amount'].fillna(df['Loan_Amount'].mean(),inplace=True)
df['Loan_Amount'].value_counts()

Loan_Amount
3.939049e+05    72
1.519591e+06    72
3.023285e+05    72
4.343876e+06    71
9.090890e+06    71
                ..
7.820584e+06    44
2.816565e+06    42
6.521227e+06    42
5.650069e+06    41
5.269982e+06    36
Name: count, Length: 101, dtype: int64

In [75]:
df['Interest_Rate'].fillna(df['Interest_Rate'].median(),inplace=True)
df['Interest_Rate'].value_counts()

Interest_Rate
13.155451    101
24.371784     74
10.111025     73
6.312771      73
15.072427     73
            ...
5.316699      42
24.035669     42
19.460203     42
10.111532     41
21.977272     39
Name: count, Length: 100, dtype: int64

In [76]:
df['Tenure_Years'].fillna(df['Tenure_Years'].mean(),inplace=True)
df['Tenure_Years'].value_counts()

Tenure_Years
29.000000    225
22.000000    220
27.000000    215
8.000000     210
4.000000     205
26.000000    202
19.000000    199
6.000000     199
1.000000     198
5.000000     198
3.000000     196
25.000000    195
28.000000    194
14.000000    193
15.000000    192
16.000000    190
15.136289    190
9.000000     189
7.000000     184
11.000000    181
21.000000    178
12.000000    178
24.000000    176
13.000000    175
20.000000    172
18.000000    172
23.000000    171
17.000000    169
10.000000    168
2.000000     159
Name: count, dtype: int64

In [77]:
df['ROI'].fillna(df['ROI'].median(),inplace=True)
df['ROI'].value_counts()

ROI
17.138047    116
28.068109     81
18.349516     79
18.733944     79
10.749210     76
            ...
4.341342      43
18.220024     43
27.062135     39
29.953169     38
18.149338     38
Name: count, Length: 100, dtype: int64

In [78]:
df['Investment_Value'].fillna(method='ffill',inplace=True)
df['Investment_Value'].value_counts()

Investment_Value
2294.584032      80
844920.426365    76
516619.300629    71
582481.000615    71
705589.922722    71
                 ..
991987.844462    44
36028.769822     44
643143.634876    42
261862.344999    41
557038.767561    40
Name: count, Length: 100, dtype: int64

In [79]:
df['Card_Type'].fillna(method='bfill',inplace=True)
df['Card_Type'].value_counts()

Card_Type
Visa          1459
RuPay         1424
Amex          1422
MasterCard    1388
Name: count, dtype: int64

In [80]:
df['Late_Fee'].fillna(df['Late_Fee'].median(),inplace=True)
df['Late_Fee'].value_counts()

Late_Fee
2349.680669    104
3357.154804     75
3424.621141     73
1564.005119     71
2439.553406     70
              ...
3568.895846     46
2204.042680     45
1599.429841     44
2045.658589     39
458.768011      38
Name: count, Length: 100, dtype: int64

In [81]:
df['Penalty'].fillna(df['Penalty'].mean(),inplace=True)
df['Penalty'].value_counts()

Penalty
419.744831     72
7662.006328    71
5633.110602    71
9630.718703    70
5216.162077    70
               ..
8611.421191    44
8815.719859    43
8584.133356    42
3215.046261    41
5780.779936    36
Name: count, Length: 101, dtype: int64

In [82]:
df['Total_Amount'].fillna(df['Total_Amount'].mean(),inplace=True)
df['Total_Amount'].value_counts()

Total_Amount
9.789876e+05    79
4.196692e+05    77
8.217662e+05    73
6.320268e+05    73
3.855290e+05    71
                ..
3.359813e+05    44
1.404557e+06    41
7.358324e+05    41
1.174574e+06    41
8.938283e+05    37
Name: count, Length: 101, dtype: int64

In [83]:
df['Remarks'].fillna('No Remarks',inplace=True)
df['Remarks'].value_counts()

Remarks
No Remarks        2272
Delayed           1171
Check required    1151
Good              1099
Name: count, dtype: int64

In [84]:
df['Net_Amount'].fillna(df['Net_Amount'].mean(),inplace=True)
df['Net_Amount'].value_counts()

Net_Amount
528433.914619    59
836065.397728     2
309147.389649     2
874791.461446     2
63935.740624      2
                 ..
214274.433064     1
379398.475107     1
274157.336574     1
503439.235224     1
452860.781297     1
Name: count, Length: 5629, dtype: int64

In [85]:
df['Interest_Earned'].fillna(method='ffill',inplace=True)
df['Interest_Earned'].value_counts()

Interest_Earned
5.617098e+05    6
5.320899e+05    6
4.016850e+05    5
5.134990e+05    5
1.415748e+06    4
               ..
1.329286e+06    1
2.449234e+04    1
2.676652e+04    1
2.854273e+05    1
3.838925e+05    1
Name: count, Length: 4274, dtype: int64

In [86]:
df['Loan_Tenure_Months'].fillna(method='bfill',inplace=True)
df['Loan_Tenure_Months'].value_counts()

Loan_Tenure_Months
348.0    235
324.0    225
264.0    222
96.0     216
48.0     211
60.0     207
12.0     207
312.0    205
72.0     203
168.0    203
228.0    202
36.0     202
300.0    199
108.0    199
336.0    198
180.0    198
192.0    197
84.0     192
132.0    188
240.0    184
144.0    183
252.0    182
156.0    182
276.0    181
288.0    181
204.0    175
216.0    174
120.0    173
24.0     169
Name: count, dtype: int64

In [87]:
df['Total_Charges'].fillna(df['Total_Charges'].mean(),inplace=True)
df['Total_Charges'].value_counts()

Total_Charges
12689.661223    107
8152.729553       2
14118.927628      2
18893.529042      2
16026.817314      2
               ...
7390.740200       1
10278.798001      1
15727.525467      1
12136.449540      1
5666.688617       1
Name: count, Length: 5578, dtype: int64

In [88]:
df['Profit'].fillna(method='ffill',inplace=True)
df['Profit'].value_counts()

Profit
204119.848618    7
168913.711005    5
32779.402129     5
86034.196499     5
2306.121625      5
                ..
111443.383901    1
29233.968336     1
18652.376958     1
72175.553518     1
17645.965448     1
Name: count, Length: 4292, dtype: int64

In [89]:
df.isnull().sum()

Account_ID                 0
Customer_ID                0
Customer_Name              0
Gender                     0
Age                        0
Email                      0
Phone                      0
City                       0
Country                    0
Account_Type               0
Account_Status             0
Transaction_ID             0
Transaction_Date           0
Transaction_Type           0
Amount                     0
Currency                   0
Description                0
Branch_Name                0
Manager_Name               0
Loan_ID                    4
Loan_Amount                0
Interest_Rate              0
Tenure_Years               0
Investment_Type            0
ROI                        0
Investment_Value           0
Card_Type                  0
Late_Fee                   0
Penalty                    0
Tax_Amount                 0
Total_Amount               0
Payment_Mode               0
Remarks                    0
Net_Amount                 0
Interest_Earned            0
Loan_Tenure_Months         0
Total_Charges              0
Profit                     0
Customer_Age_Group         0
High_Value_Transactions    0
Region                     0
dtype: int64